<div class="main-container" id="home_space" style="padding-right:7px;">
  <div id="gridster_space" class="gridster" style=";padding-top:0px;background-color:;padding-right:0px;opacity:1;width:100%;min-width:100%;">
      <ul>
        <li id="card_schedule" class="col-md-4 col-sm-6 col-xs-12" data-sizex="1" data-sizey="4" data-row="1" data-col="1" style="">
            <div class="gridster-box">
                <div class="handle-resize">
                  <div class="weather block clear card_trongsuot" style="height:calc(100% - 4px);width:calc(100% - 8px);margin-top:-10px;overflow:hidden;border-radius:0px;"> <!-- WEATHER (MIDDLE-CONTAINER) -->
                    <div class="arrow-btn-container">
                        <a class="arrow-btn left" href="#202"><span class="icon fontawesome-angle-left"></span></a>
                        <h2 class="titular" style="border-radius:0px;">APRIL 2013</h2>
                        <a class="arrow-btn right" href="#203"><span class="icon fontawesome-angle-right"></span></a>
                    </div>
                    <table class="calendar">
                        <thead class="days-week">
                            <tr>
                                <th>S</th>
                                <th>M</th>
                                <th>T</th>
                                <th>W</th>
                                <th>R</th>
                                <th>F</th>
                                <th>S</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><a class="scnd-font-color" href="#100">1</a></td>
                            </tr>
                            <tr>
                                <td><a class="scnd-font-color" href="#101">2</a></td>
                                <td><a class="scnd-font-color" href="#102">3</a></td>
                                <td><a class="scnd-font-color" href="#103">4</a></td>
                                <td><a class="scnd-font-color" href="#104">5</a></td>
                                <td><a class="scnd-font-color" href="#105">6</a></td>
                                <td><a class="scnd-font-color" href="#106">7</a></td>
                                <td><a class="scnd-font-color" href="#107">8</a></td>
                            </tr>
                            <tr>
                                <td><a class="scnd-font-color" href="#108">9</a></td>
                                <td><a class="scnd-font-color" href="#109">10</a></td>
                                <td><a class="scnd-font-color" href="#110">11</a></td>
                                <td><a class="scnd-font-color" href="#111">12</a></td>
                                <td><a class="scnd-font-color" href="#112">13</a></td>
                                <td><a class="scnd-font-color" href="#113">14</a></td>
                                <td><a class="scnd-font-color" href="#114">15</a></td>
                            </tr>
                            <tr>
                                <td><a class="scnd-font-color" href="#115">16</a></td>
                                <td><a class="scnd-font-color" href="#116">17</a></td>
                                <td><a class="scnd-font-color" href="#117">18</a></td>
                                <td><a class="scnd-font-color" href="#118">19</a></td>
                                <td><a class="scnd-font-color" href="#119">20</a></td>
                                <td><a class="scnd-font-color" href="#120">21</a></td>
                                <td><a class="scnd-font-color" href="#121">22</a></td>
                            </tr>
                            <tr>
                                <td><a class="scnd-font-color" href="#122">23</a></td>
                                <td><a class="scnd-font-color" href="#123">24</a></td>
                                <td><a class="scnd-font-color" href="#124">25</a></td>
                                <td><a class="today" href="#125">26</a></td>
                                <td><a href="#126">27</a></td>
                                <td><a href="#127">28</a></td>
                                <td><a href="#128">29</a></td>
                            </tr>
                            <tr>
                                <td><a href="#129">30</a></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                  </div>
                </div>
            </div>
        </li>
        <li id="card_place" class="col-md-4 col-sm-6 col-xs-12" data-sizex="1" data-sizey="2" data-row="1" data-col="2" style="">
            <div class="gridster-box">
                <div class="handle-resize">
                  <div class="weather block clear" style="height:calc(100% - 4px);width:calc(100% - 8px);margin-top:-10px;overflow:hidden;border-radius:0px;"> <!-- WEATHER (MIDDLE-CONTAINER) -->
                      <h2 class="titular"><span class="icon entypo-location"></span><strong>CLUJ-NAPOCA</strong>/RO</h2>
                      <div class="current-day" style="min-height:200px;">
                          <p class="current-day-date">FRI 29/06</p>
                          <p class="current-day-temperature">24º<span class="icon-cloudy"></span></p>
                      </div>
                  </div>
                </div>
            </div>
        </li>
        <li id="card_event" class="col-md-4 col-sm-6 col-xs-12" data-sizex="1" data-sizey="3" data-row="1" data-col="3" style="">
            <div class="gridster-box">
                <div class="handle-resize">
                  <div class="weather block clear" style="height:calc(100% - 4px);width:calc(100% - 8px);margin-top:-10px;overflow:hidden;border-radius:0px;"> <!-- WEATHER (MIDDLE-CONTAINER) -->
                    <div class="calendar-day block"> <!-- CALENDAR DAY (RIGHT-CONTAINER) -->
                        <div class="arrow-btn-container">
                            <a class="arrow-btn left" href="#200"><span class="icon fontawesome-angle-left"></span></a>
                            <h2 class="titular" style="border-radius:0px;">WEDNESDAY</h2>
                            <a class="arrow-btn right" href="#201"><span class="icon fontawesome-angle-right"></span></a>
                        </div>
                        <p class="the-day">26</p>
                        <a class="add-event button" href="#27">ADD EVENT</a>
                    </div>
                  </div>
                </div>
            </div>
        </li>
        <li id="card_news" class="col-md-4 col-sm-6 col-xs-12" data-sizex="1" data-sizey="4" data-row="2" data-col="1" style="">
            <div class="gridster-box">
                <div class="handle-resize">
                    <div class="tweets block card_trongsuot" style="height:calc(100% - 4px);width:calc(100% - 8px);margin-top:-10px;overflow:hidden;border-radius:0px;padding-top:10px;"> <!-- TWEETS (MIDDLE-CONTAINER) -->
                        <h2 class="titular" style="margin-top:-10px;border-radius:0px;height:90px;line-height:90px;font-size:19px;"><span class="icon zocial-twitter" style="margin-left:-10px;margin-right:0px;"></span>LATEST NEWS</h2>
                        <div class="tweet first">
                            <p>Ice-cream trucks only play music when out of ice-cream. Well played dad. On <a class="tweet-link" href="#17">@Quora</a></p>
                            <p><a class="time-ago scnd-font-color" href="#18">3 minutes ago</a></p>
                        </div>
                        <div class="tweet">
                            <p>We are in the process of pushing out all of the new CC apps! We will tweet again once they are live <a class="tweet-link" href="#19">#CreativeCloud</a></p>
                            <p><a class="scnd-font-color" href="#20">6 hours ago</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li id="card_profile" class="col-md-4 col-sm-6 col-xs-12" data-sizex="1" data-sizey="3" data-row="2" data-col="2" style="">
            <div class="gridster-box">
                <div class="handle-resize">
                  <div class="profile block card_trongsuot" style="height:calc(100% - 4px);width:calc(100% - 8px);margin-top:-10px;border-radius:0px;"> <!-- PROFILE (MIDDLE-CONTAINER) -->
                      <a class="add-button" href="#28"><span class="icon entypo-plus scnd-font-color"></span></a>
                      <h3 style="width:100%;position:absolute;text-align:center;display:inline-block;top:0px;margin:0px;padding:0px;font-size:18px;">FRIEND INVITATIONS</h3>
                      <div class="profile-picture big-profile-picture clear">
                          <img width="150px" alt="Anne Hathaway picture" src="http://upload.wikimedia.org/wikipedia/commons/e/e1/Anne_Hathaway_Face.jpg" >
                      </div>
                      <h1 class="user-name" style="margin-top:4px;">Anne Hathaway</h1>
                      <a class="sign-in button" href="#22" style="margin-top:-6px;">ADD FRIEND</a>
                  </div>
                </div>
            </div>
        </li>
        <li id="card_storage" class="col-md-4 col-sm-6 col-xs-12" data-sizex="1" data-sizey="2" data-row="2" data-col="3" style="">
            <div class="gridster-box">
                <div class="handle-resize">
                  <div class="weather block clear" style="height:calc(100% - 4px);width:calc(100% - 8px);margin-top:-10px;overflow:hidden;border-radius:0px;background-color:transparent;"> <!-- WEATHER (MIDDLE-CONTAINER) -->
                      <div class="loading block card_trongsuot" style="padding-right:20px;padding-left:20px;padding-top:10px;padding-bottom:10px;height:200px;margin-top:0px;"> <!-- LOADING (RIGHT-CONTAINER) -->
                          <h2 style="width:100%;display:inline-block;text-align:center;margin-bottom:20px;">STORAGE USE</h2>
                          <div class="progress-bar downloading" style="width:100%;"></div>
                          <p style="margin-top:11px;">Local: 2GB</p>
                          <p class="percentage">81%</p>
                          <div class="progress-bar uploading" style="width:100%;"></div>
                          <p style="margin-top:11px;">Online: 200MB</p>
                          <p class="percentage">43%</p>
                      </div>
                  </div>
                </div>
            </div>
        </li>
      </ul>
  </div>
</div> <!-- end main-container -->
<div style="width:100%;height:48px;background-color:;margin-top:-48px;line-height:48px;color:#eeeeee;">
    <span style="font-size:12px;color:inherit;width:100%;display:inline-block;text-align:center;font-family:Montserrat;">@ Copyright 2017, Cassandra.vn</span>
</div>
