<html ng-app="app" ng-controller="laboratoryController">
<head>
  <title>Cassandra Laboratory</title>
  <link rel="stylesheet" type="text/css" href="css/scrollbar.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap_grid.css">
  <link rel="stylesheet" type="text/css" href="css/global.css">
  <link rel="stylesheet" type="text/css" href="css/loading_spinner.css">
  <link rel="stylesheet" type="text/css" href="lib/chartist/chartist.css">
  <link rel="stylesheet" type="text/css" href="lib/chartist/plugins/tooltip/chartist-plugin-tooltip.css">
  <link rel="stylesheet" type="text/css" href="lib/chartist/plugins/threshold/chartist-plugin-threshold.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Days+One|Montserrat+Alternates" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="lib/chartist/chartist-for-analysis.css">
  <link rel="stylesheet" type="text/css" href="lib/font-awesome/font-awesome.min.css">
</head>
<body style="overflow:hidden;" class="ng-cloak">
    <div class="div_nen_den" style="" id="upload_record_popup">
      <form ng-submit="save_this_record()">
        <div id="smallPopup_uploadRecord" class="div_small_popup" style="border:3px solid black;top:60px;border-radius:0px;opacity:0;">
            <div class="header">
              <h2 style="">SAVE THIS RECORD</h2>
              <label ng-click="close_popup_upload_record()" class="record-block-quiter grey_color" style="font-size:24px;top:11px;right:6px;">
                <i class="fa fa-times" aria-hidden="true"></i>
              </label>
            </div>
            <div class="body">
                <div class="collum" style="width:34%;border-right:3px solid black;padding:14px;">
                  <span style="width:100%;display:inline-block;float:left;text-align:center;margin-top:18px;">
                    <i class="fa fa-pencil-square-o" aria-hidden="true" style="margin-right:3px;font-size:13px;"></i>
                    ECG data:
                  </span>
                  <textarea class="sub-section" style="height:232px;margin-top:18px;" ng-model="file_content" disabled required></textarea>
                  <span style="width:100%;display:inline-block;float:left;text-align:left;margin:16px 0px;font-size:13px;padding-left:2px;">
                    <i class="fa fa-file-o" aria-hidden="true" style="margin-right:2px;"></i>
                    Total: {{ecg_data.length | number}} rows
                  </span>
                </div>
                <div class="collum" style="width:66%;border-right:0px solid black;padding:2px 14px 14px 14px;">

                  <div class="collum" style="width:80%;float:left;">
                    <span style="width:100%;display:inline-block;float:left;text-align:left;margin:13px 0px;font-size:16px;padding-left:2px;">
                      <i class="fa fa fa-key" aria-hidden="true" style="margin-right:2px;"></i>
                      Record name:
                    </span>
                    <input type="text" class="sub-section" placeholder="Record name..." ng-model="record_name" style="width:calc(100% - 26px);" required="true">
                  </div>

                  <div class="collum" style="width:20%;float:left;padding:0px;margin-left:-30px;">
                    <span style="width:100%;display:inline-block;float:left;text-align:left;margin:13px 0px;font-size:16px;padding-left:2px;">
                      <i class="fa fa-calendar-o" aria-hidden="true" style="margin-right:2px;"></i>
                      Date:
                    </span>
                    <input type="text" class="sub-section" placeholder="Record name..." ng-model="record_date" value="{{record_date}}" style="width:120px;" disabled required>
                  </div>

                  <div class="collum" style="width:100%;float:left;margin-top:-8px;padding-right:4px;">
                    <span style="width:100%;display:inline-block;float:left;text-align:left;margin:13px 0px;font-size:16px;padding-left:2px;">
                      <i class="fa fa fa-pencil" aria-hidden="true" style="margin-right:2px;"></i>
                      Comments:
                    </span>
                    <input type="text" class="sub-section" placeholder="Record comments..." ng-model="record_comment" style="width:100%;" required>
                  </div>

                  <div class="collum" style="width:80%;float:left;margin-top:-8px;">
                    <span style="width:100%;display:inline-block;float:left;text-align:left;margin:13px 0px;font-size:16px;padding-left:2px;">
                      <i class="fa fa fa-key" aria-hidden="true" style="margin-right:2px;"></i>
                      Sampling frequency:
                    </span>
                    <input type="text" class="sub-section" placeholder="Hz..." ng-model="record_sampling_frequency" ng-change="update_duration()" style="width:calc(100% - 26px);" required>
                  </div>

                  <div class="collum" style="width:20%;float:left;padding:0px;margin-left:-30px;margin-top:-8px;">
                    <span style="width:100%;display:inline-block;float:left;text-align:left;margin:13px 0px;font-size:16px;padding-left:2px;">
                      <i class="fa fa-clock-o" aria-hidden="true" style="margin-right:2px;"></i>
                      Duration:
                    </span>
                    <input type="text" class="sub-section" placeholder="sec..." ng-model="record_duration" value="{{record_duration | number}}" style="width:120px;" required>
                  </div>

                  <div class="collum" style="width:100%;float:left;margin-top:6px;">
                    <div class="my-card" style=";margin-left:6px;height:46px;background-color:transparent;float:right;width:100%;">
                      <button type="submit" class="sign-in button" style="border:none;color:white;cursor:pointer;height:46px;margin-top:2px;border-radius:2px;line-height:36px;font-size:15px;width:200px;float:right;margin-left:12px;">
                        <i class="fa fa-cloud-upload" aria-hidden="true" style="margin-right:2px;"></i>
                        Save now
                      </button>
                      <button ng-click="close_popup_upload_record()" class="sign-in button cancel-btn" style="">
                        <i class="fa fa-time" aria-hidden="true" style="margin-right:2px;"></i>
                        Cancel
                      </button>
                    </div>
                  </div>
                </div>

            </div>
        </div>
      </form>
    </div>
    <div class="div_nen_den" style="" id="message_box">
      <form>
        <div id="smallPopup_uploadRecord" class="div_small_popup" style="border:3px solid black;top:60px;border-radius:0px;opacity:1;width:560px;left:calc(50vw - 260px);height:420px;">
            <div class="header">
              <h2 style="">DEVICE CLOSED SUCCESSFULLY</h2>
            </div>
            <div class="body" style="width:100%;display:inline-block;float:left;color:white;margin-top:-20px;">
              <div style="width:100%;display:inline-block;float:left;margin-left:0%;min-height:240px;position:relative;">
                <div class="col-md-6" style="min-height:180px;position:relative;">
                  <img src="images/laptop.svg" style="height:280px;display:inline-block;float:left;float:right;margin-top:10px;" />
                </div>
                <div class="col-md-2" style="min-height:180px;position:relative;">
                  <img src="images/right-arrow.svg" style="height:118px;display:inline-block;float:left;margin-left:calc(50% - 54px);margin-top:90px;" />
                </div>
                <div class="col-md-4" style="min-height:180px;position:relative;">
                  <img src="images/ico/301-worldwide.PNG" style="height:160px;display:inline-block;float:left;margin-left:20px;margin-top:70px;" />
                </div>
              </div>
              <div style="width:80%;display:inline-block;float:left;left:10%;position:absolute;text-align:center;bottom:16px;">
                <h2 style="font-family:Montserrat;font-size:21px;">SAFE TO UNPLUG</h2>
                <p style="font-family:Montserrat;">You can now unplug {{port_to_be_displayed_in_message_box.name}}. It has been closed successfully.</p>
              </div>

            </div>
        </div>
      </form>
    </div>
    <div class="div_nen_den" id="page_loading" style="display:inline-block;">
      <span style="color:white;font-family:Montserrat;width:100%;display:inline-block;text-align:center;margin-top:calc(50vh + 42px);">{{loading_message}}</span>
      <div class="sk-circle" style="position:fixed;z-index:2000;top:calc(50% - 146px);right:calc(50% - 30px);">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
      </div>
    </div>
    <div id="divMain" class="main-container container-fluid" style="width:100vw;height:100vh;position:fixed;color:white;top:0px;left:0px;padding-bottom:0px;;">
      <div id="data_view" class="lab_view window_drag" style="z-index:0;width:100%;margin-top:4px;height:calc(100vh + 16px);overflow:scroll;position:fixed;top:0px;padding-top:0px;padding-bottom:0px;">
        <div class="window_drag" style="height:16px;width:100%;display:inline-block;"></div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 window_drag" style="padding:0px 0px 0px 12px;">
          <div class="col-md-12 window_drag" style="background-color:transparent;width:100%;float:left;margin-top:0px;margin-bottom:10px;padding:0px;height:46px;">
              <button ng-click="export_this_analysis_as_pdf_report()" type="submit" class="sign-in button window_no_drag" style="border:none;color:white;cursor:pointer;height:46px;border-radius:2px;line-height:36px;font-size:14px;float:right;width:48%;margin-top:0px;">
                <i class="fa fa-cloud-upload" aria-hidden="true" style="margin-right:2px;"></i>
                Print Preview
              </button>
              <button type="submit" class="sign-in button cancel-btn window_no_drag" style="border:none;cursor:pointer;height:46px;border-radius:2px;line-height:36px;font-size:14px;float:left;width:49%;margin-top:0px;">
                <i class="fa fa-cloud-upload" aria-hidden="true" style="margin-right:2px;"></i>
                Save Analysis
              </button>
          </div>
          <div class="menu-box block window_no_drag" style="background-color:transparent;height:auto;padding-bottom:0px;margin-top:60px;position:relative;"> <!-- MENU BOX (LEFT-CONTAINER) -->
              <div class="donut-chart-block block window_no_drag" style="background-color:rgba(57,66,100,0.92);height:calc(50% - 10px);padding:0px;position:relative;overflow:hidden;margin-top:-3px;max-height:400px;width:100%;">
                  <h2 class="overflow-3dot" style="margin-top:10px;width:90%;margin-left:5%;display:inline-block;text-align:center;font-weight:bold;">STATISTICS</h2>
                  <div id="statistic_chart" class="ct-chart" style="width:calc(100% - 110px);height:calc(100% - 110px);margin-left:calc(52px);margin-top:-12px;max-height:312px;"></div>
                  <ul class="os-percentages horizontal-list" style="width:100%;height:84px;position:absolute;bottom:28px;">
                      <li style="width:34%;display:inline-block;float:left;height:84px;margin-top:0px;background-color:transparent;border-color:transparent;">
                          <p class="mac os scnd-font-color white_color" style="font-weight:bold;">Normal</p>
                          <p class="os-percentage normal_color" style="font-weight:bold;">{{statistics_count[0]}}<sup>%</sup></p>
                      </li>
                      <li style="width:33%;display:inline-block;float:left;height:84px;background-color:transparent;border-color:transparent;">
                          <p class="linux os scnd-font-color white_color" style="font-weight:bold;">Caution</p>
                          <p class="os-percentage caution_color" style="font-weight:bold;">{{statistics_count[1]}}<sup>%</sup></p>
                      </li>
                      <li style="width:33%;display:inline-block;float:left;height:84px;background-color:transparent;border-color:transparent;">
                          <p class="ios os scnd-font-color white_color" style="font-weight:bold;">Danger</p>
                          <p class="os-percentage danger_color" style="font-weight:bold;">{{statistics_count[2]}}<sup>%</sup></p>
                      </li>
                  </ul>
              </div>
              <div class="block block-general window_no_drag" style="background-color:rgba(57,66,100,0.92);width:100%;padding-bottom:0px;cursor:pointer;margin-top:-4px;height:calc(50% - 93px);overflow:hidden;padding:0px;">
                <div style="height:calc(100% - 50px);width:100%;padding:10px 6px 10px 10px;width:100%;overflow:hidden;">
                  <div id="div_chat_content" style="height:100%;overflow:scroll;overflow-x:hidden;width:100%;">
                    <span style="width:100%;display:inline-block;float:left;font-family:Montserrat;font-size:14px;margin-bottom:12px;">1. Beat count:</span>
                    <div ng-repeat="ann in annotations_statistic | orderBy:'count':true" style="margin-bottom:1px;width:100%;float:left;display:inline-block;height:20px;">
                      <div style="width:38px;float:left;display:inline-block;height:28px;font-size:13px;font-family:Montserrat;line-height:20px;text-align:right;padding-right:6px;font-weight:bold;">
                        <span style="color:{{ann.color}}">{{ann.text}}</span>
                      </div>
                      <div style="width:calc(100% - 38px);display:inline-block;height:20px;">
                        <div style="width:{{ann.percentage}}%;display:inline-block;background-color:{{ann.color}};height:20px;margin-top:0px;font-size:12px;font-family:Montserrat;line-height:20px;text-align:center;min-width:12px;border-radius:4px;">
                          {{ann.count}}
                        </div>
                      </div>
                    </div>
                    <span style="width:100%;display:inline-block;float:left;font-family:Montserrat;font-size:14px;margin-top:14px;">2. Notes:</span>
                    <p ng-repeat="message in chat_messages" style="width:100%;float:left;display:inline-block;margin:0px;">
                      <span style="{{message.style}};font-size:16px;font-weight:700;">{{message.name}}: </span>
                      <span style="font-size:16px;" ng-bind-html="message.content"></span>
                    </p>
                  </div>
                </div>
                <div id="div_chat_input" style="height:60px;;width:100%;">
                  <form ng-submit="insert_chat_message(message_content)">
                    <span class="icon entypo-paper-plane scnd-font-color scnd-font-color" style="position:absolute;margin-top:15px;margin-left:10px;font-size:18px;font-weight:800;"></span>
                    <input ng-model="message_content" type="text" placeholder="Add some notes here..." style="width:100%;margin-left:0px;padding:0px 10px 0px 35px;border-radius:4px;">
                    <button type="submit" style="display:none;">Submit</button>
                  </form>
                </div>
              </div>
          </div>
        </div>
        <div id="width_of_this_one" class="col-lg-9 col-md-12 col-sm-12 col-xs-12 window_drag" style="padding:0px 0px 0px 10px;">
          <div class="main-container window_no_drag" style="width:100%;min-width:600px;">
            <div class="block block-general window_no_drag" style="background-color:rgba(57,66,100,0.72);width:100%;padding:10px 10px 10px 10px;position:relative;height:calc(48% - 45px);overflow:hidden;border-bottom-left-radius:0px;border-bottom-right-radius:0px;">
              <h2 class="titular" style="position:absolute;top:0px;height:30px;line-height:30px;width:100%;display:inline-block;">
                <input type="checkbox" ng-model="show_ecg_chart" style="margin-top:8px;float:left;display:inline-block;"/>
                <span style="opacity:1;margin-top:0px;float:left;display:inline-block;margin-right:12px;;color:#00B0FF;font-weight:800;font-family:Montserrat;margin-top:-2px;">ECG1</span>
                <input type="checkbox" ng-model="window_leng_all" ng-change="select_window_leng_all()" style="opacity:1;margin-top:7px;float:left;display:inline-block;float:right;margin-right:26px;font-weight:600;"/>
                <span style="opacity:1;margin-top:0px;float:left;display:inline-block;color:white;font-weight:lighter;float:right;font-size:14px;font-family:Montserrat;margin-top:-2px;">All</span>
                <input type="checkbox" ng-model="window_leng_30s" ng-change="select_window_leng_30s()" style="opacity:1;margin-top:7px;float:left;display:inline-block;float:right;margin-right:26px;font-weight:600;"/>
                <span style="opacity:1;margin-top:0px;float:left;display:inline-block;color:white;font-weight:lighter;float:right;font-size:14px;font-family:Montserrat;margin-top:-2px;">30s</span>
                <input type="checkbox" ng-model="window_leng_10s" ng-change="select_window_leng_10s()" style="opacity:1;margin-top:7px;float:left;display:inline-block;float:right;margin-right:26px;font-weight:600;"/>
                <span style="opacity:1;margin-top:0px;float:left;display:inline-block;color:white;font-weight:lighter;float:right;font-size:14px;font-family:Montserrat;margin-top:-2px;">10s</span>
                <input type="checkbox" ng-model="window_leng_4s" ng-change="select_window_leng_4s()" style="opacity:1;margin-top:7px;float:left;display:inline-block;float:right;margin-right:26px;font-weight:600;"/>
                <span style="opacity:1;margin-top:0px;float:left;display:inline-block;color:white;font-weight:lighter;float:right;font-size:14px;font-family:Montserrat;margin-top:-2px;">4s</span>
              </h2>
              <!-- <div id="heartrate_chart_grid" ng-show="show_ecg_chart" class="block-general" style="width:100%;top:27px;position:absolute;left:-7px;height:calc(100% - 24px);bottom:0px;"></div>
              <div id="ecg_chart_label" ng-show="show_ecg_chart" class="ct-chart block-general" style="width:100%;top:31px;position:absolute;left:-10px;height:calc(100% - 24px);bottom:0px;"></div> -->
              <!-- <div id="ecg_chart_container" style="width:calc(100% - 66px);top:26px;position:absolute;left:41px;overflow-x:visible;overflow-y:hidden;height:calc(100% - 24px);">
                <div id="ecg_chart" ng-show="show_ecg_chart" class="ct-chart block-general" style="width:calc({{window_percentage}}% + 60px);top:0px;position:relative;margin-left:-60px;"></div>
              </div> -->
              <!--<div id="heartrate_chart_grid" ng-show="show_ecg_chart" class="block-general" style="width:100%;top:27px;position:absolute;left:0px;height:calc(100% - 6px);bottom:0px;border-top:1px solid steelblue;"></div>-->
              <div id="ecg_chart_label" ng-show="show_ecg_chart" class="ct-chart block-general" style="width:100%;top:31px;position:absolute;left:-10px;height:calc(100% - 6px);bottom:0px;"></div>
              <div id="ecg_chart_container" style="width:calc(100% - 66px);top:26px;position:absolute;left:41px;overflow-x:hidden;overflow-y:hidden;height:calc(100% - 6px);">
                <div id="ecg_chart" ng-show="show_ecg_chart" class="ct-chart block-general" style="width:calc({{window_percentage}}% + 60px);top:0px;position:relative;margin-left:-60px;"></div>
                <div ng-show="show_ecg_chart && should_show_ecgchart_timeline" class="ct-chart block-general" style="width:calc({{window_percentage}}% + 60px);bottom:18px;position:absolute;left:0px;border-top:1px solid steelblue;">
                  <span ng-repeat="value in record_length_in_seconds_arr track by $index" style="width:{{ecgchart_length_of_1s_in_pixel}}px;position:relative;font-size:13px;color:steelblue;opacity:0.9;float:left;display:inline-block;border-left:1px solid steelblue;padding-left:4px;">
                    {{$index}}s
                  </span>
                </div>
                <div style="width:calc({{window_percentage}}% + 120px);top:-12px;position:absolute;margin-left:0px;font-size:14px;">
                  <div ng-repeat="ann in annotations" style="left:{{ann.left}}px;position:absolute;top:12px;">
                    <div class="tooltip">
                      <span style="color:{{ann.color}};">{{ann.text}}</span>
                      <span class="tooltiptext" ng-bind-html="ann.tooltip"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="block block-general window_no_drag" style="background-color:rgba(57,66,100,0.72);width:100%;padding:10px 10px 0px 10px;margin-top:-15px;position:relative;height:calc(26% + 5px);overflow:hidden;border-radius:0px;">
              <div id="heartrate_chart" ng-show="show_heartrate_chart" class="block-general" style="width:calc(100% + 0px);top:26px;position:absolute;left:-10px;"></div>
              <div id="heartrate_chart2" class="block-general" style="width:calc(100% + 0px);top:26px;position:absolute;left:-10px;"></div>
              <div id="variability_chart" ng-show="show_variability_chart" class="block-general" style="width:calc(100% + 0px);top:26px;position:absolute;left:-10px;"></div>
              <div class="chart_spanner_container" style="width:calc(100% - 66px);height:100%;background-color:transparent;position:absolute;top:8px;left:40px;overflow:hidden;">
                <div data-draggable="true" class="chart_spanner" style="width:{{chart_spanner_width}}%;height:calc(100% - 50px);background-color:#BDBDBD;position:relative;top:30px;left:{{chart_spanner_position}}%;opacity:0.54;cursor:move;"></div>
              </div>
              <h2 class="titular" style="position:absolute;top:0px;height:30px;line-height:30px;width:100%;display:inline-block;">
                <input type="checkbox" ng-model="show_heartrate_chart" style="margin-top:9px;float:left;display:inline-block;"/>
                <span style="margin-top:0px;float:left;display:inline-block;margin-right:12px;;color:rgb(244,198,61);font-weight:bold;font-family:Montserrat;">HR</span>
                <input type="checkbox" ng-model="show_variability_chart" style="margin-top:9px;float:left;display:inline-block;float:right;margin-right:20px;"/>
                <span style="margin-top:0px;float:left;display:inline-block;color:rgb(255,127,39);font-weight:bold;float:right;font-family:Montserrat;">HRV</span>
              </h2>
              <div class="ct-chart block-general" style="width:calc(100% - 66px);bottom:0px;position:absolute;left:38px;border-top:1px solid steelblue;margin-left:2px;margin-top:1px;">
                <span ng-repeat="value in secondarychart_intervals" style="width:12.5%;position:relative;font-size:11px;color:steelblue;opacity:0.9;float:left;display:inline-block;border-left:1px solid steelblue;padding-left:4px;">
                  {{value}}s
                </span>
                <span style=";position:absolute;font-size:11px;color:steelblue;opacity:0.9;right:0px;display:inline-block;bottom:1px;">
                  {{record_length_in_seconds}}s
                </span>
              </div>
            </div>
            <div class="block block-general window_no_drag" style="background-color:rgba(57,66,100,0.72);width:100%;padding:10px 10px 0px 10px;margin-top:-15px;position:relative;height:calc(26% + 5px);overflow:hidden;border-top-left-radius:0px;border-top-right-radius:0px;padding-bottom:6px;">
              <div id="tmag_chart" ng-show="show_tmag_chart" class="block-general" style="width:calc(100% + 0px);top:26px;position:absolute;left:-10px;"></div>
              <div id="stdeviation_chart" ng-show="show_stdeviation_chart" class="block-general" style="width:calc(100% + 0px);top:26px;position:absolute;left:-10px;"></div>
              <div class="chart_spanner_container" style="width:calc(100% - 66px);height:100%;background-color:transparent;position:absolute;top:8px;left:40px;overflow:hidden;">
                <div data-draggable="true" class="chart_spanner" style="width:{{chart_spanner_width}}%;height:calc(100% - 56px);background-color:#BDBDBD;position:relative;top:30px;left:{{chart_spanner_position}}%;opacity:0.54;cursor:move;"></div>
              </div>
              <h2 class="titular" style="position:absolute;top:0px;height:30px;line-height:30px;width:100%;display:inline-block;">
                <input type="checkbox" ng-model="show_tmag_chart" style="margin-top:9px;float:left;display:inline-block;"/>
                <span style="margin-top:0px;float:left;display:inline-block;margin-right:12px;;color:#00BFA5;font-weight:bold;font-family:Montserrat;">T-MAG</span>
                <input type="checkbox" ng-model="show_stdeviation_chart" style="margin-top:9px;float:left;display:inline-block;float:right;margin-right:20px;"/>
                <span style="margin-top:0px;float:left;display:inline-block;color:#FF80AB;font-weight:bold;float:right;font-family:Montserrat;">STD</span>
              </h2>
              <div class="ct-chart block-general" style="width:calc(100% - 66px);bottom:6px;position:absolute;left:38px;border-top:1px solid steelblue;margin-left:2px;margin-top:1px;">
                <span ng-repeat="value in secondarychart_intervals" style="width:12.5%;position:relative;font-size:11px;color:steelblue;opacity:0.9;float:left;display:inline-block;border-left:1px solid steelblue;padding-left:4px;">
                  {{value}}s
                </span>
                <span style=";position:absolute;font-size:11px;color:steelblue;opacity:0.9;right:0px;display:inline-block;bottom:1px;">
                  {{record_length_in_seconds}}s
                </span>
              </div>
            </div>
          </div> <!-- end main-container -->
        </div>
      </div>   
    </div>
    <div id="title-bar" class="window_drag">
      <div id="title-bar-btns">
        <button class="handler-btn quit_bgcolor" id="close-btn"></button>
        <button class="handler-btn zoom_bgcolor" id="max-btn"></button>
        <button class="handler-btn mini_bgcolor" id="min-btn"></button>    
      </div>
    </div>
    <script src="lib/jquery/jquery.min.js"></script>
    <script>
      try {
          $ = jQuery = module.exports;
          // If you want module.exports to be empty, uncomment:
          // module.exports = {};
      } catch(e) {}
    </script>
    <script src="lib/jqueryDraggable/jqueryDraggable.min.js"></script>
    <script src="lib/drag_resize/interactive.js"></script>
    <script>
      jQuery("#smallPopup_uploadRecord").tinyDraggable({ handle: '.header' });
    </script>
    <!-- <script src="lib/dsp/fili.min.js"></script> -->
    <script src="js/electron-handler.js"></script>
    <script src="lib/bootstrap/bootstrap.min.js"></script>
    <script src="lib/chartist/chartist.min.js"></script>
    <script src="lib/chartist/plugins/tooltip/chartist-plugin-tooltip.min.js"></script>
    <script src="lib/chartist/plugins/point-label/chartist-plugin-pointlabels.min.js"></script>
    <script src="lib/chartist/plugins/threshold/chartist-plugin-threshold.js"></script>
    <script src="lib/json/json_parse.js"></script>
    <script src="lib/json/json2.js"></script>
    <script src="lib/json/json_parse_state.js"></script>

    <script src="lib/socket-io-client/socket.io.js"></script>

    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular/angular-route.min.js"></script>
    <script src="lib/angular/angular-sanitize.js"></script>
    <script src="lib/filesaver/angular-file-saver.bundle.min.js"></script>

    <script src="js/analysis/analysis_2.js"></script>
    <script src="js/analysis/analysis_controller_2.js"></script>
</body>
</html>
