<html ng-app="app" ng-controller="printController">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
 		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="Emulating real sheets of paper in web documents (using HTML and CSS)">
		<title>Print Review</title>
		<link href="lib/spime/css/fixedBar.css" rel="stylesheet" />
		<link href="lib/spime/css/reuseable.css" rel="stylesheet" />
		<link href="lib/spime/css/mailApp.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="css/scrollbar.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap_grid.css">
		<link rel="stylesheet" type="text/css" href="css/check-box-material.css">
		<!-- <link rel="stylesheet" type="text/css" href="lib/gridster/demo.css"> -->
		<link rel="stylesheet" type="text/css" href="lib/gridster/jquery.gridster.css">
		<!-- <link rel="stylesheet" href="bower_components/angular-gridster/dist/angular-gridster.min.css"/> -->
		<link rel="stylesheet" type="text/css" href="css/global.css">
		<link rel="stylesheet" type="text/css" href="css/setting_box.css">
		<link rel="stylesheet" type="text/css" href="css/loading_spinner.css">
		<!--<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">-->
		<link rel="stylesheet" href="css/montserrat/fonts.css">
		<link rel="stylesheet" href="css/lato/fonts.css">
		<link rel="stylesheet" href="css/open-sans/fonts.css">
		<!--<link href="https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic" rel="stylesheet">-->
		<!--<link href="https://fonts.googleapis.com/css?family=Days+One|Montserrat+Alternates" rel="stylesheet">-->
		<!--<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato" />-->
		<!--<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Merriweather" />-->
		<link rel="stylesheet" type="text/css" href="lib/chartist/chartist-for-print.css">
		<link rel="stylesheet" type="text/css" href="lib/font-awesome/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="css/sheet-of-paper/sheets-of-paper-a4.css">
	</head>
	<body class="document">
		<div class="page">
			<div class="page_section">
				<img class="company_logo" src="images/logo.png"/>
				<label class="page_title primary_color" contenteditable="true" style="font-weight:500;">ELECTROCARDIOGRAM TEST REPORT</label>
				<label class="page_title" style="font-size:13px;font-family:Open Sans;margin-top:6px;" contenteditable="true">Date: July 24th, 2017</label>
				<label class="page_title" style="font-size:13px;font-family:Open Sans;margin-top:6px;margin-bottom:6px;" contenteditable="true">Requested By: Dr. Dinh, Micheal Nguyen</label>
			</div>
			<div class="page_section">
				<header style="margin-bottom:6px;">1. Patient Information:</header>
				<div class="page_devision" style="width:calc(100% - 240px);">
					<table style="width:100%;">
						<tr>
							<td class="table-cell-title"><label class="print-standard-text" style="text-align:right;" contenteditable="true">Fullname:</label></td>
							<td class="table-cell-content"><label class="print-standard-text border-invisible-on-print" contenteditable="true">Pham, Khoi Nguyen</label>
						</tr>
						<tr>
							<td class="table-cell-title"><label class="print-standard-text" style="text-align:right;" contenteditable="true">Address:</label></td>
							<td class="table-cell-content"><label class="print-standard-text border-invisible-on-print" contenteditable="true">Binh Phu apartment, Ho Chi Minh City, Vietnam</label>
						</tr>
						<tr>
							<td class="table-cell-title"><label class="print-standard-text" style="text-align:right;" contenteditable="true">Email:</label></td>
							<td class="table-cell-content"><label class="print-standard-text border-invisible-on-print" contenteditable="true">phamkhoinguyen1995@gmail.com</label>
						</tr>
						<tr>
							<td class="table-cell-title"><label class="print-standard-text" style="text-align:right;" contenteditable="true">Telephone:</label></td>
							<td class="table-cell-content"><label class="print-standard-text border-invisible-on-print" contenteditable="true">(+84)-914-118-896</label>
						</tr>
						
					</table>
				</div>
				<div class="page_devision" style="width:240px;">
					<table style="width:100%;">
						<tr>
							<td class="table-cell-title"><label class="print-standard-text" style="text-align:right;" contenteditable="true">Sex:</label></td>
							<td class="table-cell-content"><label class="print-standard-text border-invisible-on-print" contenteditable="true">Male</label>
						</tr>
						<tr>
							<td class="table-cell-title"><label class="print-standard-text" style="text-align:right;" contenteditable="true">Age:</label></td>
							<td class="table-cell-content"><label class="print-standard-text border-invisible-on-print" contenteditable="true">22</label>
						</tr>
						<tr>
							<td class="table-cell-title"><label class="print-standard-text" style="text-align:right;" contenteditable="true">Height:</label></td>
							<td class="table-cell-content"><label class="print-standard-text border-invisible-on-print" contenteditable="true">164 cm</label>
						</tr>
						<tr>
							<td class="table-cell-title"><label class="print-standard-text" style="text-align:right;" contenteditable="true">Weight:</label></td>
							<td class="table-cell-content"><label class="print-standard-text border-invisible-on-print" contenteditable="true">65 kg</label>
						</tr>
						
					</table>
				</div>
				<div class="page_devision" style="width:calc(100% - 18px);margin-right:0px;margin-top:20px;padding:10px 20px 16px 10px;border:1px solid black;float:right;">
					<table style="width:100%;">
						<tr>
							<td class="table-cell-title"><label class="print-standard-text" style="text-align:right;" contenteditable="true">Symptoms:</label></td>
							<td class="table-cell-content"><label class="print-standard-text border-invisible-on-print" contenteditable="true">chest pain, hard to breath, sweeting</label>
						</tr>
						<tr>
							<td class="table-cell-title"><label class="print-standard-text" style="text-align:right;" contenteditable="true">Medication:</label></td>
							<td class="table-cell-content"><label class="print-standard-text border-invisible-on-print" contenteditable="true">none</label>
						</tr>
					</table>
				</div>
			</div>
			<div class="page_section">
				<header style="margin-bottom:6px;">2. Doctor / Physician Information:</header>
				<div class="page_devision" style="width:calc(100%-240px);margin-top:0px;">
					<table style="width:100%;">
						<tr>
							<td class="table-cell-title"><label class="print-standard-text" style="text-align:right;" contenteditable="true">Fullname:</label></td>
							<td class="table-cell-content"><label class="print-standard-text border-invisible-on-print" contenteditable="true">Dr. Dinh, Micheal Nguyen</label>
						</tr>
						<tr>
							<td class="table-cell-title"><label class="print-standard-text" style="text-align:right;" contenteditable="true">Workplace:</label></td>
							<td class="table-cell-content"><label class="print-standard-text border-invisible-on-print" contenteditable="true">Central International Hospital, CIH, Vietnam</label>
						</tr>
						<tr>
							<td class="table-cell-title"><label class="print-standard-text" style="text-align:right;" contenteditable="true">Department:</label></td>
							<td class="table-cell-content"><label class="print-standard-text border-invisible-on-print" contenteditable="true">Cardiology</label>
						</tr>
						<tr>
							<td class="table-cell-title"><label class="print-standard-text" style="text-align:right;" contenteditable="true">Email:</label></td>
							<td class="table-cell-content"><label class="print-standard-text border-invisible-on-print" contenteditable="true">dinhnguyen.micheal@cih.com</label>
						</tr>
						<tr>
							<td class="table-cell-title"><label class="print-standard-text" style="text-align:right;" contenteditable="true">Telephone:</label></td>
							<td class="table-cell-content"><label class="print-standard-text border-invisible-on-print" contenteditable="true">(+84)-326-728-159</label>
						</tr>
					</table>
				</div>
				<div class="page_devision" style="width:calc(100% - 18px);margin-right:0px;margin-top:20px;padding:10px 20px 16px 10px;border:1px solid black;float:right;">
					<table style="width:100%;">
						<tr>
							<td class="table-cell-title"><label class="print-standard-text" style="text-align:right;" contenteditable="true">Interpretation:</label></td>
							<td class="table-cell-content"><label class="print-standard-text border-invisible-on-print" contenteditable="true">Suspected of supravendo myocardium ischemia</label>
						</tr>
						<tr>
							<td class="table-cell-title"><label class="print-standard-text" style="text-align:right;" contenteditable="true">Indicators:</label></td>
							<td class="table-cell-content"><label class="print-standard-text border-invisible-on-print" contenteditable="true">Transient T wave inverted in lead II, ST depression present, fast heart rate (108 bpm), low heart rate variability (<0.2 bpm)</label>
						</tr>
					</table>
				</div>
			</div>
			<div class="page_section">
				<header style="margin-bottom:12px;">3. Analysis Summary:</header>
				<div class="page_devision" style="height:172px;width:50%;float:left;border:1px solid black;padding:0px;">
					<label class="page_title" style="font-size:13px;font-family:Open Sans;font-weight:400;border-bottom:1px solid black;padding:6px;" contenteditable="true">GENERAL STATISTICS</label>
					<table style="width:calc(100% - 10px);">
						<tr>
							<td class="table-cell-title" style="width:86px;"><label class="print-standard-text" style="text-align:right;font-size:12px;line-height:16px;" contenteditable="true">Heart Rate:</label></td>
							<td class="table-cell-content" style="width:calc(100% - 86px);">
								<label class="print-standard-text border-invisible-on-print" contenteditable="true">
									<span class="color_normal">102 bpm</span>, std <span class="color_normal">48 bpm</span>
								</label>
							</td>
						</tr>
						<tr>
							<td class="table-cell-title" style="width:86px;"><label class="print-standard-text" style="text-align:right;font-size:12px;line-height:16px;" contenteditable="true">Heart Rate Variability:</label></td>
							<td class="table-cell-content" style="width:calc(100% - 86px);">
								<label class="print-standard-text border-invisible-on-print" contenteditable="true">
									<span class="color_normal">1.5 bpm</span>, std <span class="color_normal">0.24 bpm</span>
								</label>
							</td>
						<tr>
							<td class="table-cell-title" style="width:86px;"><label class="print-standard-text" style="text-align:right;font-size:12px;line-height:16px;" contenteditable="true">T Wave Magnitude:</label></td>
							<td class="table-cell-content" style="width:calc(100% - 86px);">
								<label class="print-standard-text border-invisible-on-print" contenteditable="true">
									<span class="color_caution">-42%</span>, std <span class="color_caution">8%</span>
								</label>
							</td>
						<tr>
							<td class="table-cell-title" style="width:86px;"><label class="print-standard-text" style="text-align:right;font-size:12px;line-height:16px;" contenteditable="true">ST Deviation:</label></td>
							<td class="table-cell-content" style="width:calc(100% - 86px);">
								<label class="print-standard-text border-invisible-on-print" contenteditable="true">
									<span class="color_caution">-6%</span>, std <span class="color_caution">1.8%</span>
								</label>
							</td>
					</table>
				</div>
				<div class="page_devision" style="height:172px;width:50%;float:left;border:1px solid black;margin-left:-1px;overflow:hidden;">
					<label class="page_title" style="font-size:13px;font-family:Open Sans;font-weight:400;border-bottom:1px solid black;padding:6px;" contenteditable="true">TYPICAL WAVEFORM</label>
					<div id="ecg_chart_typical" class="ct-chart block-general" style="width:110%;margin-left:calc(-10% + 4px);display:inline-block;"></div>
				</div>
			</div>
		</div>
		<div class="page">
			<div class="page_section">
				<header style="margin-bottom:12px;">4. Test Case:</header>
				<div class="page_devision" style="width:calc(100% - 240px);">
					<img src="images/cassandra_pad2.png" style="width:100px;float:left;margin-top:12px;"/>
					<table style="width:calc(100% - 100px);float:right;">
						<tr>
							<td class="table-cell-title"><label class="print-standard-text" style="text-align:right;" contenteditable="true">Device Name:</label></td>
							<td class="table-cell-content"><label class="print-standard-text border-invisible-on-print" contenteditable="true">Cassandra Pad</label>
						</tr>
						<tr>
							<td class="table-cell-title"><label class="print-standard-text" style="text-align:right;" contenteditable="true">Device ID:</label></td>
							<td class="table-cell-content"><label class="print-standard-text border-invisible-on-print" contenteditable="true">CAP-675-512</label>
						</tr>
						<tr>
							<td class="table-cell-title"><label class="print-standard-text" style="text-align:right;" contenteditable="true">Test Case:</label></td>
							<td class="table-cell-content"><label class="print-standard-text border-invisible-on-print" contenteditable="true">Recording while at my office, from 9:00am - 9:02am</label>
						</tr>
						<tr>
							<td class="table-cell-title"><label class="print-standard-text" style="text-align:right;" contenteditable="true">Accessories:</label></td>
							<td class="table-cell-content"><label class="print-standard-text border-invisible-on-print" contenteditable="true">USB Bluetooth Dongle, Win 10 PC</label>
						</tr>
						
					</table>
				</div>
				<div class="page_devision" style="width:240px;">
					<table style="width:100%;">
						<tr>
							<td class="table-cell-title"><label class="print-standard-text" style="text-align:right;" contenteditable="true">Sample Rate:</label></td>
							<td class="table-cell-content"><label class="print-standard-text border-invisible-on-print" contenteditable="true">200 Hz</label>
						</tr>
						<tr>
							<td class="table-cell-title"><label class="print-standard-text" style="text-align:right;" contenteditable="true">Duration:</label></td>
							<td class="table-cell-content"><label class="print-standard-text border-invisible-on-print" contenteditable="true">120 secs</label>
						</tr>
						<tr>
							<td class="table-cell-title"><label class="print-standard-text" style="text-align:right;" contenteditable="true">Date:</label></td>
							<td class="table-cell-content"><label class="print-standard-text border-invisible-on-print" contenteditable="true">July 21th, 2017</label>
						</tr>
						<tr>
							<td class="table-cell-title"><label class="print-standard-text" style="text-align:right;" contenteditable="true">Channels:</label></td>
							<td class="table-cell-content"><label class="print-standard-text border-invisible-on-print" contenteditable="true">II</label>
						</tr>
					</table>
				</div>
			</div>
			<div class="page_section">
				<header style="margin-bottom:12px;">5. Features Time Series:</header>
				<div class="page_devision" style="height:172px;width:120px;float:left;border:1px solid black;padding:0px;">
					<label class="page_title" style="font-size:14px;text-align:center;margin-top:6px;">HEART RATE</label>
					<label class="page_title" style="font-size:12px;text-align:center;margin-bottom:6px;">(bpm)</label>
					<table style="width:calc(100% - 10px);">
						<tr>
							<td class="table-cell-title" style="width:42px;"><label class="print-standard-text" style="text-align:right;font-size:12px;line-height:16px;" contenteditable="true">Mean:</label></td>
							<td class="table-cell-content" style="width:calc(100% - 42px);">
								<label class="print-standard-text border-invisible-on-print" contenteditable="true">
									<span class="color_caution">102</span> bpm
								</label>
							</td>
						</tr>
						<tr>
							<td class="table-cell-title" style="width:42px;"><label class="print-standard-text" style="text-align:right;font-size:12px;line-height:16px;" contenteditable="true">Min:</label></td>
							<td class="table-cell-content" style="width:calc(100% - 42px);">
								<label class="print-standard-text border-invisible-on-print" contenteditable="true">
									<span class="color_normal">78</span> bpm
								</label>
							</td>
						<tr>
							<td class="table-cell-title" style="width:42px;"><label class="print-standard-text" style="text-align:right;font-size:12px;line-height:16px;" contenteditable="true">Max:</label></td>
							<td class="table-cell-content" style="width:calc(100% - 42px);">
								<label class="print-standard-text border-invisible-on-print" contenteditable="true">
									<span class="color_caution">196</span> bpm
								</label>
							</td>
						<tr>
							<td class="table-cell-title" style="width:42px;"><label class="print-standard-text" style="text-align:right;font-size:12px;line-height:16px;" contenteditable="true">Std:</label></td>
							<td class="table-cell-content" style="width:calc(100% - 42px);">
								<label class="print-standard-text border-invisible-on-print" contenteditable="true">
									<span class="color_caution">84</span> bpm
								</label>
							</td>
					</table>
				</div>
				<div class="page_devision" style="height:172px;width:calc(100% - 120px);float:left;border:1px solid black;margin-left:-1px;position:relative;padding-top:6px;">
					<div id="heartrate_chart" class="ct-chart block-general" style="width:calc(100% + 24px);margin-left:calc(0% - 20px);display:inline-block;"></div>
					<div style="width:calc(100% - 40px);bottom:11px;position:absolute;left:27px;margin-left:2px;margin-top:2px;">
						<span ng-repeat="value in secondarychart_intervals" style="width:12.5%;position:relative;font-size:11px;color:steelblue;opacity:0.9;float:left;display:inline-block;">
							{{value}}s
						</span>
						<span style=";position:absolute;font-size:11px;color:steelblue;opacity:0.9;right:0px;display:inline-block;bottom:1px;">
							{{record_length_in_seconds}}s
						</span>
					</div>
				</div>
				<div class="page_devision" style="height:172px;width:120px;float:left;border:1px solid black;padding:0px;margin-top:-1px;">
					<label class="page_title" style="font-size:14px;text-align:center;margin-top:6px;">HR VARIABILITY</label>
					<label class="page_title" style="font-size:12px;text-align:center;margin-bottom:6px;">(bpm)</label>
					<table style="width:calc(100% - 10px);">
						<tr>
							<td class="table-cell-title" style="width:42px;"><label class="print-standard-text" style="text-align:right;font-size:12px;line-height:16px;" contenteditable="true">Mean:</label></td>
							<td class="table-cell-content" style="width:calc(100% - 42px);">
								<label class="print-standard-text border-invisible-on-print" contenteditable="true">
									<span class="color_normal">4.2</span> bpm
								</label>
							</td>
						</tr>
						<tr>
							<td class="table-cell-title" style="width:42px;"><label class="print-standard-text" style="text-align:right;font-size:12px;line-height:16px;" contenteditable="true">Min:</label></td>
							<td class="table-cell-content" style="width:calc(100% - 42px);">
								<label class="print-standard-text border-invisible-on-print" contenteditable="true">
									<span class="color_normal">8.3</span> bpm
								</label>
							</td>
						<tr>
							<td class="table-cell-title" style="width:42px;"><label class="print-standard-text" style="text-align:right;font-size:12px;line-height:16px;" contenteditable="true">Max:</label></td>
							<td class="table-cell-content" style="width:calc(100% - 42px);">
								<label class="print-standard-text border-invisible-on-print" contenteditable="true">
									<span class="color_normal">3.1</span> bpm
								</label>
							</td>
						<tr>
							<td class="table-cell-title" style="width:42px;"><label class="print-standard-text" style="text-align:right;font-size:12px;line-height:16px;" contenteditable="true">Std:</label></td>
							<td class="table-cell-content" style="width:calc(100% - 42px);">
								<label class="print-standard-text border-invisible-on-print" contenteditable="true">
									<span class="color_normal">1.8</span> bpm
								</label>
							</td>
					</table>
				</div>
				<div class="page_devision" style="height:172px;width:calc(100% - 120px);float:left;border:1px solid black;margin-top:-1px;margin-left:-1px;position:relative;padding-top:6px;">
					<div id="variability_chart" class="ct-chart block-general" style="width:calc(100% + 24px);margin-left:calc(0% - 20px);display:inline-block;"></div>
					<div style="width:calc(100% - 40px);bottom:11px;position:absolute;left:27px;margin-left:2px;margin-top:2px;">
						<span ng-repeat="value in secondarychart_intervals" style="width:12.5%;position:relative;font-size:11px;color:steelblue;opacity:0.9;float:left;display:inline-block;">
							{{value}}s
						</span>
						<span style=";position:absolute;font-size:11px;color:steelblue;opacity:0.9;right:0px;display:inline-block;bottom:1px;">
							{{record_length_in_seconds}}s
						</span>
					</div>
				</div>
				<div class="page_devision" style="height:172px;width:120px;float:left;border:1px solid black;padding:0px;margin-top:-1px;">
					<label class="page_title" style="font-size:14px;text-align:center;margin-top:6px;">T MAGNITUDE</label>
					<label class="page_title" style="font-size:12px;text-align:center;margin-bottom:6px;">(%)</label>
					<table style="width:calc(100% - 10px);">
						<tr>
							<td class="table-cell-title" style="width:42px;"><label class="print-standard-text" style="text-align:right;font-size:12px;line-height:16px;" contenteditable="true">Mean:</label></td>
							<td class="table-cell-content" style="width:calc(100% - 42px);">
								<label class="print-standard-text border-invisible-on-print" contenteditable="true">
									<span class="color_normal">21</span> %
								</label>
							</td>
						</tr>
						<tr>
							<td class="table-cell-title" style="width:42px;"><label class="print-standard-text" style="text-align:right;font-size:12px;line-height:16px;" contenteditable="true">Min:</label></td>
							<td class="table-cell-content" style="width:calc(100% - 42px);">
								<label class="print-standard-text border-invisible-on-print" contenteditable="true">
									<span class="color_normal">42</span> %
								</label>
							</td>
						<tr>
							<td class="table-cell-title" style="width:42px;"><label class="print-standard-text" style="text-align:right;font-size:12px;line-height:16px;" contenteditable="true">Max:</label></td>
							<td class="table-cell-content" style="width:calc(100% - 42px);">
								<label class="print-standard-text border-invisible-on-print" contenteditable="true">
									<span class="color_normal">14</span> %
								</label>
							</td>
						<tr>
							<td class="table-cell-title" style="width:42px;"><label class="print-standard-text" style="text-align:right;font-size:12px;line-height:16px;" contenteditable="true">Std:</label></td>
							<td class="table-cell-content" style="width:calc(100% - 42px);">
								<label class="print-standard-text border-invisible-on-print" contenteditable="true">
									<span class="color_normal">19</span> %
								</label>
							</td>
					</table>
				</div>
				<div class="page_devision" style="height:172px;width:calc(100% - 120px);float:left;border:1px solid black;margin-top:-1px;margin-left:-1px;position:relative;padding-top:6px;">
					<div id="tmag_chart" class="ct-chart block-general" style="width:calc(100% + 24px);margin-left:calc(0% - 20px);display:inline-block;"></div>
					<div style="width:calc(100% - 40px);bottom:11px;position:absolute;left:27px;margin-left:2px;margin-top:2px;">
						<span ng-repeat="value in secondarychart_intervals" style="width:12.5%;position:relative;font-size:11px;color:steelblue;opacity:0.9;float:left;display:inline-block;">
							{{value}}s
						</span>
						<span style=";position:absolute;font-size:11px;color:steelblue;opacity:0.9;right:0px;display:inline-block;bottom:1px;">
							{{record_length_in_seconds}}s
						</span>
					</div>
				</div>
				<div class="page_devision" style="height:172px;width:120px;float:left;border:1px solid black;padding:0px;margin-top:-1px;">
					<label class="page_title" style="font-size:14px;text-align:center;margin-top:6px;">ST DEVIATION</label>
					<label class="page_title" style="font-size:12px;text-align:center;margin-bottom:6px;">(%)</label>
					<table style="width:calc(100% - 10px);">
						<tr>
							<td class="table-cell-title" style="width:42px;"><label class="print-standard-text" style="text-align:right;font-size:12px;line-height:16px;" contenteditable="true">Mean:</label></td>
							<td class="table-cell-content" style="width:calc(100% - 42px);">
								<label class="print-standard-text border-invisible-on-print" contenteditable="true">
									<span class="color_normal">4.5</span> %
								</label>
							</td>
						</tr>
						<tr>
							<td class="table-cell-title" style="width:42px;"><label class="print-standard-text" style="text-align:right;font-size:12px;line-height:16px;" contenteditable="true">Min:</label></td>
							<td class="table-cell-content" style="width:calc(100% - 42px);">
								<label class="print-standard-text border-invisible-on-print" contenteditable="true">
									<span class="color_normal">3.2</span> %
								</label>
							</td>
						<tr>
							<td class="table-cell-title" style="width:42px;"><label class="print-standard-text" style="text-align:right;font-size:12px;line-height:16px;" contenteditable="true">Max:</label></td>
							<td class="table-cell-content" style="width:calc(100% - 42px);">
								<label class="print-standard-text border-invisible-on-print" contenteditable="true">
									<span class="color_normal">7.8</span> %
								</label>
							</td>
						<tr>
							<td class="table-cell-title" style="width:42px;"><label class="print-standard-text" style="text-align:right;font-size:12px;line-height:16px;" contenteditable="true">Std:</label></td>
							<td class="table-cell-content" style="width:calc(100% - 42px);">
								<label class="print-standard-text border-invisible-on-print" contenteditable="true">
									<span class="color_normal">2.1</span> %
								</label>
							</td>
					</table>
				</div>
				<div class="page_devision" style="height:172px;width:calc(100% - 120px);float:left;border:1px solid black;margin-top:-1px;margin-left:-1px;position:relative;padding-top:6px;">
					<div id="stdeviation_chart" class="ct-chart block-general" style="width:calc(100% + 24px);margin-left:calc(0% - 20px);display:inline-block;"></div>
					<div style="width:calc(100% - 40px);bottom:11px;position:absolute;left:27px;margin-left:2px;margin-top:2px;">
						<span ng-repeat="value in secondarychart_intervals" style="width:12.5%;position:relative;font-size:11px;color:steelblue;opacity:0.9;float:left;display:inline-block;">
							{{value}}s
						</span>
						<span style=";position:absolute;font-size:11px;color:steelblue;opacity:0.9;right:0px;display:inline-block;bottom:1px;">
							{{record_length_in_seconds}}s
						</span>
					</div>
				</div>
			</div>			
		</div>
		<div class="page" style="overflow:hidden;">
			<div class="page_devision" style="width:calc(100% - 210px);">
				<div class="page_section" id="insert_segment_charts_here">
					<header style="margin-bottom:12px;">6. Waveform Data:</header>
					<!--<div ng-repeat="chart in waveform_data_charts" id="{{chart.segment_id}}" class="ct-chart block-general" style="width:calc(100% + 24px);margin-left:calc(0% - 20px);display:inline-block;height:60px;">{{chart.segment_id}}</div>-->
				</div>
			</div>
			<div class="page_devision" style="width:200px;float:right">
				<div class="page_section" style="margin-bottom:0px;">
					<header style="margin-bottom:12px;">7. Annotations Summary:</header>
					<div class="page_devision" style="width:100%;">
						<div class="donut-chart-block block window_no_drag" style="background-color:rgba(57,66,100,0.92);height:260px;padding:0px;position:relative;overflow:hidden;margin-top:-3px;max-height:400px;width:100%;">
							<div id="statistic_chart" class="ct-chart" style="width:166px;height:166px;margin-left:calc(50% - 83px);margin-top:9px;"></div>
								<ul class="os-percentages horizontal-list" style="width:100%;height:84px;position:absolute;bottom:28px;">
									<li style="width:34%;display:inline-block;float:left;height:84px;margin-top:0px;background-color:transparent;border-color:transparent;">
										<p class="mac os scnd-font-color white_color" style="font-weight:bold;font-size:13px;">Normal</p>
										<p class="os-percentage normal_color" style="font-weight:bold;margin-top:-2px;font-family:Montserrat;font-weight:600;font-size:18px;">{{report_obj.record_statistics[0]}}<sup>%</sup></p>
									</li>
									<li style="width:33%;display:inline-block;float:left;height:84px;background-color:transparent;border-color:transparent;">
										<p class="linux os scnd-font-color white_color" style="font-weight:bold;font-size:13px;">Caution</p>
										<p class="os-percentage caution_color" style="font-weight:bold;margin-top:-2px;font-family:Montserrat;font-weight:600;font-size:18px;">{{report_obj.record_statistics[1]}}<sup>%</sup></p>
									</li>
									<li style="width:33%;display:inline-block;float:left;height:84px;background-color:transparent;border-color:transparent;">
										<p class="ios os scnd-font-color white_color" style="font-weight:bold;font-size:13px;">Danger</p>
										<p class="os-percentage danger_color" style="font-weight:bold;margin-top:-2px;font-family:Montserrat;font-weight:600;font-size:18px;">{{report_obj.record_statistics[2]}}<sup>%</sup></p>
									</li>
								</ul>
						</div>
					</div>
				</div>
				<div class="page_section">
					<header style="margin-bottom:12px;" contenteditable="true">8. Beat Count: (beats)</header>
					<div class="page_devision" style="width:100%;padding-left:0px;">
						<!--<div class="page_devision" style="width:100%;padding:18px 16px 18px 0px;background-color:rgba(57,66,100,0.92);border-radius:6px;">-->
							<div ng-repeat="ann in report_obj.record_annotations_statistic | orderBy:'count':true" style=";margin-bottom:2px;width:100%;float:left;display:inline-block;height:20px;">
								<div style="width:38px;float:left;display:inline-block;height:28px;font-size:13px;font-family:Montserrat;line-height:20px;text-align:left;padding-right:6px;font-weight:bold;">
									<span style="color:{{ann.color}};font-weight:500;">{{ann.text}}</span>
								</div>
								<div style="width:calc(100% - 38px);display:inline-block;height:20px;">
									<div style="width:{{ann.percentage}}%;display:inline-block;background-color:{{ann.color}};height:20px;margin-top:0px;font-size:12px;font-family:Montserrat;line-height:20px;text-align:center;min-width:12px;border-radius:4px;color:white;">
									{{ann.count}}
									</div>
								</div>
							</div>
							<label class="page_title" style="text-align:left;font-size:13px;margin-top:16px;margin-bottom:4px;">Annotation Labels:</label>
							<div ng-repeat="ann in report_obj.record_annotations_statistic | orderBy:'count':true" style=";margin-bottom:2px;width:100%;float:left;display:inline-block;height:20px;">
								<div style="width:38px;float:left;display:inline-block;height:28px;font-size:13px;font-family:Montserrat;line-height:20px;text-align:left;padding-right:6px;font-weight:bold;">
									<span style="color:{{ann.color}};font-weight:500;">{{ann.text}}</span>
								</div>
								<div style="color:{{ann.color}};width:calc(100% - 38px);display:inline-block;height:20px;">
									= {{ann.type}}
								</div>
							</div>
						<!--</div>-->
					</div>
				</div>
			</div>
		</div>
		<div class="page" contenteditable="true">
			<div class="page_section">
				<header style="margin-bottom:12px;">9. Addtional Notes:</header>
				<p style="font-size:13px;font-family:Open Sans;">Additional information...</p>
			</div>		
		</div>
		<div id="title-bar" class="hidden_on_print">
			<div id="title-bar-btns">
				<button class="handler-btn quit_bgcolor" id="close-btn"></button>
				<button class="handler-btn zoom_bgcolor" id="max-btn"></button>
				<button class="handler-btn mini_bgcolor" id="min-btn"></button>    
			</div>
		</div>
		<button id="print-pdf-button" class="sign-in button hidden_on_print" style="font-familty:Open Sans;font-weight:400;">
             <i class="fa fa-file" aria-hidden="true" style="margin-right:2px;"></i>
             Save pdf
        </button>
		<script type="text/javascript">
			// window.print();
		</script>
		<script src="lib/jquery/jquery.min.js"></script>
		<script>
		try {
			$ = jQuery = module.exports;
			// If you want module.exports to be empty, uncomment:
			// module.exports = {};
		} catch(e) {}
		</script>
		<!--<script src="js/electron-handler.js"></script>-->
		<script src="lib/gridster/jquery.gridster.min.js"></script>
		<!-- <script src="bower_components/javascript-detect-element-resize/jquery.resize.js"></script> -->
		<script src="lib/jqueryDraggable/jqueryDraggable.min.js"></script>
		<!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_Y3yHjREUC56Jj2wr-4LtAN5KOv2NJ84"></script> -->
		<script src="lib/bootstrap/bootstrap.min.js"></script>
		<script src="lib/chartist/chartist.min.js"></script>
		<script src="lib/json/json_parse.js"></script>
		<script src="lib/json/json2.js"></script>
		<script src="lib/json/json_parse_state.js"></script>
		<script src="lib/socket-io-client/socket.io.js"></script>
		<script src="lib/angular/angular.min.js"></script>
		<!-- <script src="bower_components/angular-gridster/dist/angular-gridster.min.js"></script> -->
		<script src="lib/angular/angular-route.min.js"></script>
		<script src="lib/angular/angular-sanitize.js"></script>
		<script src="lib/filesaver/angular-file-saver.bundle.min.js"></script>
		<script src="js/print/print.js"></script>
		<script src="js/print/printController.js"></script>
	</body>
</html>
