<div class="prp-page">
  <img class="logo-img" src="{{company.logo}}" />
  <h2 class="color-red align-right" style="max-width:400px;float:right;display:inline-block;">{{company.name | uppercase}}</h2>
  <h2 class="color-blue align-right" style="max-width:400px;float:right;display:inline-block;">{{company.address}}</h2>
  <h2 class="color-blue align-right" style="max-width:400px;float:right;display:inline-block;">Tel: {{company.tel}} - Fax: {{company.fax}}</h2>
  <div class="clickToMargin col-md-12" style="width:100%;display:inline-block;margin-top:-20px;">
    <h2><span class="bold">To:</span> <span class="hover-pointer" ng-click="showTo()">{{project.additionalInfo.to.value}}</span></h2>
    <form ng-show="project.additionalInfo.to.show" ng-submit="changeProjectTo()">
      <input class="form-control" type="text" ng-model="project.additionalInfo.to.value" value="{{project.additionalInfo.to.value}}" />
      <button style="display:none" type="submit"></button>
    </form>
    <h2><span class="bold">From:</span> <span class="hover-pointer" ng-click="showFrom()">{{project.additionalInfo.from.value}}</span></h2>
    <form ng-show="project.additionalInfo.from.show" ng-submit="changeProjectFrom()">
      <input class="form-control" type="text" ng-model="project.additionalInfo.from.value" value="{{project.additionalInfo.from.value}}" />
      <button style="display:none" type="submit"></button>
    </form>
    <h2><span class="bold">Date:</span> <span class="hover-pointer" ng-click="showDate()">{{project.additionalInfo.date.value}}</span></h2>
    <form ng-show="project.additionalInfo.date.show" ng-submit="changeProjectDate()">
      <input class="form-control" type="text" ng-model="project.additionalInfo.date.value" value="{{project.additionalInfo.date.value}}" />
      <button style="display:none" type="submit"></button>
    </form>
    <h2><span class="bold">Quotation:</span> <span class="hover-pointer" ng-click="showQuotation()">{{project.additionalInfo.quotation.value}}</span></h2>
    <form ng-show="project.additionalInfo.quotation.show" ng-submit="changeProjectQuotation()">
      <input class="form-control" type="text" ng-model="project.additionalInfo.quotation.value" value="{{project.additionalInfo.quotation.value}}" />
      <button style="display:none" type="submit"></button>
    </form>
    <h2><span class="bold">Total pages:</span> <span class="hover-pointer" ng-click="showTotalPages()">{{project.additionalInfo.toTalPages.value}}</span></h2>
    <form ng-show="project.additionalInfo.toTalPages.show" ng-submit="changeProjectTotalPages()">
      <input class="form-control" type="text" ng-model="project.additionalInfo.toTalPages.value" value="{{project.additionalInfo.toTalPages.value}}" />
      <button style="display:none" type="submit"></button>
    </form>
    <h2><span class="bold">Your Ref:</span> <span class="hover-pointer" ng-click="showYourRef()">{{project.additionalInfo.yourRef.value}}</span></h2>
    <form ng-show="project.additionalInfo.yourRef.show" ng-submit="changeProjectYourRef()">
      <input class="form-control" type="text" ng-model="project.additionalInfo.yourRef.value" value="{{project.additionalInfo.yourRef.value}}" />
      <button style="display:none" type="submit"></button>
    </form>

    <br/>
    <h1 class="hover-pointer" style="width:96%;display:inline-block;text-align:center;margin-left:2%;font-size:26px;" ng-click="showTitle()">
      {{project.additionalInfo.projectTitle.value | uppercase}}
    </h1>
    <form ng-show="project.additionalInfo.projectTitle.show" ng-submit="changeProjectTitle()">
      <input class="form-control" type="text" ng-model="project.additionalInfo.projectTitle.value" value="{{project.additionalInfo.projectTitle.value}}" />
      <button style="display:none" type="submit"></button>
    </form>

    <br/>
    <h2 class="hover-pointer" style="font-weight:bold;" ng-click="showScopeOfWork()">
      1. SCOPE OF WORK:
    </h2>
    <h2 class="hover-pointer" style="font-size:15px;" ng-click="showScopeOfWork()">
      {{project.additionalInfo.scopeOfWork.value}}
    </h2>
    <form ng-show="project.additionalInfo.scopeOfWork.show" ng-submit="changeProjectScopeOfWork()">
      <input class="form-control" type="text" ng-model="project.additionalInfo.scopeOfWork.value" value="{{project.additionalInfo.scopeOfWork.value}}" />
      <button style="display:none" type="submit"></button>
    </form>

    <br/>
    <h2 class="hover-pointer" style="font-weight:bold;" ng-click="showPrice()">
      2. PRICE:
    </h2>
    <h2 class="hover-pointer" style="font-size:15px;" ng-click="showPrice()">
      {{project.additionalInfo.price.value}} {{getToTalProjectMoney() | currency:"$":0}}
    </h2>
    <form ng-show="project.additionalInfo.price.show" ng-submit="changeProjectPrice()">
      <input class="form-control" type="text" ng-model="project.additionalInfo.price.value" value="{{project.additionalInfo.price.value}}" />
      <button style="display:none" type="submit"></button>
    </form>

    <br/>
    <h2 class="hover-pointer" style="font-weight:bold;" ng-click="showPayment()">
      3. PAYMENT TERMS:
    </h2>
    <h2 class="hover-pointer" style="font-size:15px;" ng-bind-html="project.additionalInfo.paymentTerm.value" ng-click="showPayment()">

    </h2>
    <form ng-show="project.additionalInfo.paymentTerm.show" ng-submit="changeProjectPayment()">
      <input class="form-control" type="text" ng-model="project.additionalInfo.paymentTerm.value" value="{{project.additionalInfo.paymentTerm.value}}" />
      <button style="display:none" type="submit"></button>
    </form>

    <br/>
    <h2 class="hover-pointer" style="font-weight:bold;" ng-click="showTimming()">
      4. TIMING:
    </h2>
    <h2 class="hover-pointer" style="font-size:15px;" ng-click="showTimming()">
      {{project.additionalInfo.timming.value}}
    </h2>
    <form ng-show="project.additionalInfo.timming.show" ng-submit="changeProjectTimming()">
      <input class="form-control" type="text" ng-model="project.additionalInfo.timming.value" value="{{project.additionalInfo.timming.value}}" />
      <button style="display:none" type="submit"></button>
    </form>

    <br/>
    <h2 class="hover-pointer" style="font-weight:bold;" ng-click="showValidity()">
      5. VALIDITY:
    </h2>
    <h2 class="hover-pointer" style="font-size:15px;" ng-click="showValidity()">
      {{project.additionalInfo.validity.value}}
    </h2>
    <form ng-show="project.additionalInfo.validity.show" ng-submit="changeProjectValidity()">
      <input class="form-control" type="text" ng-model="project.additionalInfo.validity.value" value="{{project.additionalInfo.validity.value}}" />
      <button style="display:none" type="submit"></button>
    </form>

    <br/>

    <h2 style="font-weight:bold;">
      6. BREAK DOWN COST:
    </h2>
    <table class="table table-hover col-md-12" style="margin-top: 10px;">
      <tr class="info clickToMargin">
        <th style="font-size:16px;">#</th>
        <th style="font-size:16px;" ng-repeat="field in project.fields track by $index">{{field.fieldname}}</th>
      </tr>
      <tr class="clickToMargin" ng-repeat="entry in project.items track by $index">
        <td>{{$index + 1}}</td>
        <td ng-repeat="value in entry track by $index">
          {{value}}
        </td>
      </tr>
    </table>
    <div ng-repeat="group in project.groups track by $index" style="margin-top:-1px;width:100%;display:inline-block;">
      <h2 class="lbl-group-name clickToMargin">Group {{$index + 1}}: {{group.name}}</h2>
      <table class="table table-hover" >
        <tr class="info clickToMargin">
          <th style="font-size:16px;">#</th>
          <th style="font-size:16px;" ng-repeat="field in project.fields track by $index">{{field.fieldname}}</th>
        </tr>
        <tr class="clickToMargin" ng-repeat="entry in group.items track by $index">
          <td>
            {{$index + 1}}
          </td>
          <td ng-repeat="value in entry track by $index">
            {{value}}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
