@media all {
  *{
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    overflow: visible;
  }
  .logo_img {
    height: 90px;
    position: absolute;
  }
  .hover-pointer:hover {
    cursor: pointer;
  }
  .align-right {
    width: 100%;
    display: inline-block;
    text-align: right;
    margin-bottom: 0px;
  }
  .prp-page {
    background-color: white !important;
    display: inline-block;
    margin: 0px;
    width: 100%;
    min-height: 180vh;
    padding: 6px;
  }
  .color-red {
    color: #E91E63 !important;
  }
  .color-blue {
    color: #2196F3 !important;
  }
  .bold {
    font-weight: bold;
  }
  .lbl-group-name {
    width: 100%;
    display: inline-block;
    background-color: #C5E1A5 !important;
    color: black;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    border: 1px solid black !important;
  }
  h2 {
    font-size: 16px;
  }
  .table tr {
    height: 40px;
    border-top: 1px solid black !important;
    border-bottom: 1px solid black !important;
  }
  .table td {
    height: 40px;
    border-top: 1px solid black !important;
    border-bottom: 1px solid black !important;
  }
  .table th {
    background-color: #B2EBF2 !important;
    height: 40px;
    line-height: 40px;
    border-top: 1px solid black !important;
    border-bottom: 1px solid black !important;
  }
  .table {
    margin-bottom: 0px;
    margin: 0px;
    border-left: 1px solid black !important;
    border-right: 1px solid black !important;
    border-bottom: 1px solid black !important;
  }
  .col-5{
    width: 5%;
    display: inline-block;
    float: left;
  }
  .col-5{
    width: 8%;
    display: inline-block;
    float: left;
  }
  .col-39{
    width: 36%;
    display: inline-block;
    float: left;
  }
  .bg-xam {
    background-color: #EEEEEE !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  #page {
    overflow-y: visible;
  }
  
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}
