body {
    margin: 0px;
    padding: 0px;
}
#createNewPorjectView{
    width:100%;
    display: inline-block;
}
.viewChild{
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right:40px;
//    display: none;
}
.viewChild2{
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right:40px;
    display: none;
}
#itemTableWraper{
    padding:10px;
    border: 2px solid #E0E0E0;
    border-radius:4px;
}
